<th:block th:fragment="profile-image">
    <div class="avatar-upload">
        <div class="avatar-edit">
            <input type='file' id="imageUpload" name="file" accept=".png, .jpg, .jpeg" />
            <label for="imageUpload"></label>
        </div>
        <div class="avatar-preview" th:object="${userServiceModel}">
            <div id="imagePreview" th:style="'background:url(' + @{/images/__${userServiceModel.profileImagePath}__} + ');'">
            </div>
        </div>
        <input type="submit" value="Upload" />
    </div>
</th:block>