<th:block th:fragment="renew-subscription" xmlns:th="http://www.w3.org/1999/xhtml">
    <form method="post" th:action="@{/user-profile/__${userViewModel.id}__/renew-subscription}">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-12">
                    <label for="subscriptionType"></label>
                    <select class="form-control" id="subscriptionType" name="subscriptionType">
                        <option selected disabled>ИЗБЕРИ АБОНАМЕНТ</option>
                        <option value="SIX_ENTRIES">6 ПОСЕЩЕНИЯ</option>
                        <option value="EIGHT_ENTRIES">8 ПОСЕЩЕНИЯ</option>
                        <option value="TWELVE_ENTRIES">12 ПОСЕЩЕНИЯ</option>
                        <option value="SIXTEEN_ENTRIES">16 ПОСЕЩЕНИЯ</option>
                        <option value="TWENTY_FOUR_ENTRIES">24 ПОСЕЩЕНИЯ</option>
                        <option value="THIRTY_ENTRIES">30 ПОСЕЩЕНИЯ</option>
                        <option value="ONE_MONTH">1 МЕСЕЦ</option>
                        <option value="THREE_MONTHS">3 МЕСЕЦА</option>
                        <option value="SIX_MONTHS">6 МЕСЕЦА</option>
                        <option value="ONE_YEAR">1 ГОДИНА</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div>
                <input type="submit" class="btn btn-primary btn-lg btn-block" th:value="|Активирай|">
            </div>
        </div>
    </form>
</th:block>