<th:block th:fragment="solarium-minutes" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="form-group">
        <div class="row">
            <div class="col-lg-6">
                <form method="post" th:action="@{/user-profile/__${userViewModel.id}__/add-minutes}">
                    <br/>
                    <label for="insert-minutes"><b>Въведи минути:</b></label>
                    <input type="number" id="insert-minutes" name="minutes" required>
                    <br/>
                    <br/>
                    <div>
                        <input type="submit" class="btn btn-primary btn-sm btn-block" th:value="|Добави|">
                    </div>
                </form>
            </div>
            <div class="col-lg-6">
                <form method="post" th:action="@{/user-profile/__${userViewModel.id}__/use-minutes}">
                    <div class="form-group">
                        <div class="row">
                            <br/>
                            <label for="use-minutes"><b>Намали минути:</b></label>
                            <input type="number" id="use-minutes" name="minutes" required>
                            <br/>
                            <br/>
                            <div>
                                <input type="submit" class="btn btn-danger btn-sm btn-block" th:value="|Намали|">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>