<th:block th:fragment="register" xmlns:th="http://www.w3.org/1999/xhtml">
    <form th:action="@{/register/training-program-new}" th:object="${trainingProgramBindingModel}" enctype="multipart/form-data" method="post">
        <div class="container">
            <h1 align="center">Форма за регистрация на тренировъчни програми</h1>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <label for="programImage">Избери снимка</label>
                    <span class="red-star">★</span>
                    <input type='file' id="programImage" name="programImage" accept=".png, .jpg, .jpeg" required/>
                </div>
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="header"><b>Заглавие</b></label>
                        <span class="red-star">★</span>
                        <input type="text" placeholder="Въведи заглавие на програмата" id="header" name="header" required>
                    </div>
                    <div class="form-group">
                        <label for="mainGoal"><b>Основна цел</b></label>
                        <span class="red-star">★</span>
                        <input type="text" placeholder="Въведи цел на програмата" id="mainGoal" name="mainGoal" required>
                    </div>

                    <div class="form-group">
                        <label for="workoutType"><b>Тип на тренировката</b></label>
                        <span class="red-star">★</span>
                        <input type="text" placeholder="Въведи тип на тренировката" id="workoutType" name="workoutType" required>
                    </div>

                    <div class="form-group">
                        <label for="programDuration"><b>Продължителност на програмата</b></label>
                        <span class="red-star">★</span>
                        <input type="number" placeholder="Въведи продължителност на програмата" id="programDuration" name="programDuration" required>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="daysPerWeek"><b>Брой дни седмично</b></label>
                        <span class="red-star">★</span>
                        <input type="number" placeholder="Въведи брой дни седмично" id="daysPerWeek" name="daysPerWeek" required>
                    </div>

                    <div class="form-group">
                        <label for="trainingLevel"><b>Ниво на трудност</b></label>
                        <span class="red-star">★</span>
                        <select class="form-control" id="trainingLevel" name="trainingLevel" required>
                            <option selected disabled>Избери ниво на трудност на програмата</option>
                            <option value="BEGINNER">Начинаещи</option>
                            <option value="INTERMEDIATE">Средно напреднали</option>
                            <option value="ADVANCED">Напреднали</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="genderTarget"><b>Целеви пол</b></label>
                        <span class="red-star">★</span>
                        <select class="form-control" id="genderTarget" name="genderTarget" required>
                            <option selected disabled>Избери целеви пол</option>
                            <option value="MALE">МЪЖЕ</option>
                            <option value="FEMALE">ЖЕНИ</option>
                            <option value="BOTH">МЪЖЕ & ЖЕНИ</option>
                        </select>
                    </div>

                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="workoutDescription">Описание на програмата</label>
                        <span class="red-star">★</span>
                        <textarea class="form-control" id="workoutDescription" name="workoutDescription"
                                  placeholder="Напишете описание на програмата" rows="10" required></textarea>
                    </div>
                </div>
            </div>
            <hr>
            <button type="submit" class="registerbtn">Създай</button>
        </div>
    </form>
</th:block>