<th:block th:fragment="training-programs-edit-modal" xmlns:th="http://www.w3.org/1999/xhtml">
    <form th:action="@{/training-programs/__*{id}__}" enctype="multipart/form-data" method="post">
        <!-- Modal -->
        <div class="modal fade" id="trainingProgramEditModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span id="closeModalX" aria-hidden="true">&times;</span>
                        </button>
                        <div class="container">
                            <h1 align="center">Форма за редакция на тренировъчни програми</h1>
                            <hr>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="programImage">Избери снимка</label>
                                    <span class="red-star">★</span>
                                    <input type='file' id="programImage" name="programImage" accept=".png, .jpg, .jpeg" />
                                </div>
                                <div class="col-lg-6">
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="header"><b>Заглавие</b></label>
                                        <span class="red-star">★</span>
                                        <input type="text" id="header" name="header" th:field="*{header}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="mainGoal"><b>Основна цел</b></label>
                                        <span class="red-star">★</span>
                                        <input type="text" id="mainGoal" name="mainGoal" th:field="*{mainGoal}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="workoutType"><b>Тип на тренировката</b></label>
                                        <span class="red-star">★</span>
                                        <input type="text" id="workoutType" name="workoutType" th:field="*{workoutType}" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="programDuration"><b>Продължителност на програмата</b></label>
                                        <span class="red-star">★</span>
                                        <input type="number" id="programDuration" name="programDuration" th:field="*{programDuration}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="daysPerWeek"><b>Брой дни седмично</b></label>
                                        <span class="red-star">★</span>
                                        <input type="number" id="daysPerWeek" name="daysPerWeek" th:field="*{daysPerWeek}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="trainingLevel"><b>Ниво на трудност</b></label>
                                        <span class="red-star">★</span>
                                        <select class="form-control" id="trainingLevel" name="trainingLevel" required>
                                            <option selected disabled>Избери ниво на трудност на програмата</option>
                                            <option value="BEGINNER">Начинаещи</option>
                                            <option value="INTERMEDIATE">Средно напреднали</option>
                                            <option value="ADVANCED">Напреднали</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="genderTarget"><b>Целеви пол</b></label>
                                        <span class="red-star">★</span>
                                        <select class="form-control" id="genderTarget" name="genderTarget" required>
                                            <option selected disabled>Избери целеви пол</option>
                                            <option value="MALE">МЪЖЕ</option>
                                            <option value="FEMALE">ЖЕНИ</option>
                                            <option value="BOTH">МЪЖЕ & ЖЕНИ</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="workoutDescription">Описание на програмата</label>
                                        <span class="red-star">★</span>
                                        <textarea class="form-control" id="workoutDescription" name="workoutDescription"
                                                  rows="10" th:field="*{workoutDescription}" required></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Изтрий</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
                        <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Възстанови данните</button>
                        <button type="submit" class="btn btn-primary">Запази промените</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</th:block>