<th:block th:fragment="user-login" xmlns:th="http://www.w3.org/1999/xhtml">
    <form method="post" th:action="@{/login}">
        <div class="container">
            <label for="uname"><b>Потребителско име</b></label>
            <input type="text" placeholder="Въведи потребителско име" id="uname" name="username" required>
            <label for="psw"><b>Парола</b></label>
            <input type="password" placeholder="Въведи парола" id="psw" name="password" required>
            <button type="submit">Вписване</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Запомни ме
            </label>
        </div>
    </form>
</th:block>