<th:block th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <footer>
        <div class="container-fluid">
            <div class="row content">
                <div class="col-md-5">
                    <a target="_blank" th:href="@{https://www.facebook.com/Nordgym-Fitness-Solarium-261458010563259/}">
                        <i class="fa fa-facebook-official"></i>
                    </a>
                    <a target="_blank" th:href="@{https://twitter.com/login?lang=bg}">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a target="_blank" th:href="@{skype:nordgym?chat}">
                        <i class="fa fa-skype"></i>
                    </a>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-5">
                    <div id="footer-right">
                        <h4>Фитнес център"NORDGYM"</h4>
                        <h4>Copyright 2019</h4>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</th:block>