<th:block th:fragment="footer">
    <footer>
        <div class="container-fluid">
            <div class="row content">
                <div class="col-md-5">
                    <a target="_blank" href="https://www.facebook.com/Nordgym-Fitness-Solarium-261458010563259/">
                        <i class="fa fa-facebook-official"></i>
                    </a>
                    <a target="_blank" href="https://twitter.com/login?lang=bg">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a target="_blank" href="skype:nordgym?chat">
                        <i class="fa fa-skype"></i>
                    </a>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-5">
                    <div id="footer-right">
                        <h3 style="color: white">Фитнес център"NORDGYM"</h3>
                        <h3 style="color: white; text-align: center">Copyright 2019</h3>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</th:block>