<th:block th:fragment="navbar-user" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">NORDGYM</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/home">Начало</a></li>
                <li><a href="/gallery">Галерия</a></li>
                <li><a href="/services">Услуги</a></li>
                <li><a href="/contacts">Контакти</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Тренировъчни програми
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Начинаещи</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Submenu 1</a></li>
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Submenu 2</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Напреднали</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Submenu 1</a></li>
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Submenu 2</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="helloUser" th:if="${username != null}"><h5 th:text="|Здравей, ${username}*{'!'}"></h5></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Изход</a></li>
            </ul>
        </div>
    </nav>
</th:block>