.navbar {
    background-color: #001a1a;;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #609f9f;
}

#helloUser {
    color: white;
    margin-top: 8px;
}

.container-admins {
    padding-top: 50px;
    width: 70%;
}