body {
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

#address-work-time {
    margin-top: 6%;
}

#characterLeft {
    color: #122b40;
}

iframe {
    border: 3px;
    width: 100%;
    height: 225px;
}
