.navbar-guest {
    background-color: #001a1a;
}
body {
    background-image: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);
}

#address-work-time {
    margin-top: 6%;
}

#characterLeft {
    color: #122b40;
}

iframe {
    border: 3px;
    width: 100%;
    height: 293px;
}
#helloUser {
    color: white;
    margin-top: 8px;
}
