.navbar {
    background-color: #001a1a;;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #e0ebc2;
}
.container {
    margin-bottom: 20%;
}
#myTab a,.full-name {
    color: #00131a;
}
#entriesInfo {
    height: 400px;
    overflow-y: scroll;
    width: 100%;
}
.choose-image {
    margin-top: 3%;
}
input[type="submit"] {
    width: 100%;
    float: bottom;

    font-size: 20px;
    color: white;
}

input[type="number"] {
    width: 100%;
    height: 40px;
    font-size: x-large;
}
input[type="checkbox"] {
    zoom: 2.5;
    margin-left: 5px;
}
.admin {
    font-size: x-large;
    color: black;
}
#profileImage {
    height: 200px;
    width: 250px;
}
#deleteUser {
    float: left;
}
button[type=reset],button[id=editUser]{
    float: right;
}
#helloUser {
    color: white;
    margin-top: 8px;
}

.text-muted {
    background-color: #f5f5f5;
}
.btn-delete {
    margin-left: 85%;
}
.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}