<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>NG - Admin Panel</title>
    <th:block th:replace="fragments/head"></th:block>
    <link rel="stylesheet" type="text/css" href="/css/ng-admin.css">
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:replace="fragments/navbar-admin"></th:block>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" id="findUser">
                <th:block th:replace="fragments/forms/user-find::user-find"></th:block>
            </div>
            <div class="col-md-8">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Име:</th>
                        <th>Абонамент:</th>
                        <th>Валиден от:</th>
                        <th>Валиден до:</th>
                        <th>Статус:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:classappend="success" th:each="userViewModel : ${userViewModels}">
                        <td><a th:href="@{/user-profile/__${userViewModel.id}__}"
                               th:text="${userViewModel.fullName}"></a></td>
                        <td th:text="${userViewModel.subscription}"></td>
                        <td th:text="${#temporals.format(userViewModel.subscriptionFrom, 'dd MMM yyyy')}"></td>
                        <td th:text="${#temporals.format(userViewModel.subscriptionTo, 'dd MMM yyyy')}"></td>
                        <td th:text="${userViewModel.isActive()} ? 'Активен' : 'Изтекъл'"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>