<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <th:block th:replace="fragments/head"></th:block>
    <link rel="stylesheet" type="text/css" href="/css/login-style.css">
    <link rel="stylesheet" type="text/css" href="/footer.css" th:href="@{/css/footer.css}">
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:replace="fragments/navbar-guest"></th:block>
    </header>
    <h2 align="center">Вход в системата</h2>
    <th:block th:replace="fragments/forms/user-login::user-login"></th:block>
    <th:block th:replace="fragments/footer::footer"></th:block>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>