<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация на потребител</title>
    <th:block th:replace="fragments/head"></th:block>
    <link rel="stylesheet" type="text/css" href="/css/register-training-program.css" th:href="@{/css/register-training-program.css}">
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:replace="fragments/navbar-admin"></th:block>
    </header>
    <div class="row" id="register-form">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-10">
            <th:block  th:replace="fragments/forms/training-program-register::register"></th:block>
        </div>
        <div class="col-lg-1">

        </div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>