<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Начална страница</title>
    <th:block th:replace="fragments/head"></th:block>
    <link rel="stylesheet" type="text/css" href="/css/footer.css" th:href="@{/css/footer.css}">
    <link rel="stylesheet" type="text/css" href="/css/trainings-advanced.css" th:href="@{/css/trainings-advanced.css}">
</head>
<body>
<div class="container-fluid">
    <header class="main-header">
        <th:block sec:authorize="isAnonymous()" th:replace="fragments/navbar-guest"></th:block>
        <th:block sec:authorize="hasAuthority('USER') && !hasAuthority('ADMIN')"
                  th:replace="fragments/navbar-user"></th:block>
        <th:block sec:authorize="hasAuthority('ADMIN')" th:replace="fragments/navbar-admin"></th:block>
    </header>
    <div class="row content">
        <div class="col-sm-9 mainContainer">

        </div>
        <div class="col-sm-3 sidebar">
        </div>
    </div>
    <th:block th:replace="fragments/footer::footer"></th:block>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>